face_recognition==1.3.0
resemblyzer==0.1.1
numpy
sqlite3-binary
cryptography
transformers
torch
opencv-python-headless
flask
flask-cors
pillow
pydub
librosa
mediapipe
scipy
soundfile
setuptools
wheel
